In [25]:
%%html
<style>
table {float:left}
</style>

목차

Part 1 빅데이터와 스파크 간단히 살펴보기

Chapter 1 아파치 스파크란
- 1.1. 아파치 스파크의 철학
- 1.2. 스파크의 등장 배경
- 1.3. 스파크의 역사
- 1.4. 스파크의 현재와 미래
- 1.5. 스파크 실행하기

Chapter 2 스파크 간단히 살펴보기
- 2.1. 스파크의 기본 아키텍처
- 2.2. 스파크의 다양한 언어 API
- 2.3. 스파크 API
- 2.4. 스파크 시작하기
- 2.5. SparkSession
- 2.6. DataFrame
- 2.7. 트랜스포메이션
- 2.8. 액션
- 2.9. 스파크 UI
- 2.10. 종합 예제

Chapter 3 스파크 기능 둘러보기
- 3.1. 운영용 애플리케이션 실행하기
- 3.2. Dataset: 타입 안정성을 제공하는 구조적 API
- 3.3. 구조적 스트리밍
- 3.4. 머신러닝과 고급 분석
- 3.5. 저수준 API
- 3.6. SparkR
- 3.7. 스파크의 에코시스템과 패키지

# Part 1 빅데이터와 스파크 간단히 살펴보기

## Chapter 1 아파치 스파크란

- 통합 컴퓨팅 엔진
- 클러스터 환경에서 데이터를 병렬 처리하는 라이브러리 집합

### 1.1. 아파치 스파크의 철학

- 통합
    - 데이터 읽기, 쓰기, SQL 처리, 머신러닝, 스트림 처리 같은 단계를 병합하고, 같은 연산 엔진, 일관성 있는 API로 수행
- 컴퓨팅 엔진
    - 컴퓨팅 엔진에 집중하며 여러 저장소를 지원
    - 하둡의 경우 맵리듀스, 하둡 파일시스템이 밀접하게 연관되어 있음
- 라이브러리
    - 표준 라이브러리와 함께 다양한 서드파티 라이브러리 지원
    - 스파크 SQL, MLlib, 구조적 스트리밍, GraphX, 다양한 저장소 Connector(JDBC 등)

### 1.2. 스파크의 등장 배경

- 단일 프로세서의 성능 향상의 한계가 있어, 병렬 처리가 필요해짐

### 1.3. 스파크의 역사

- 클러스터 컴퓨팅의 잠재력, 맵리듀스의 단점 보완을 위해 AMPLab이 하둡 사용자들과 함께 Spark을 만들고, Apache 제단에 기부
- 프로젝트를 성장시키기 위해 데이터 브릭스 설립

|버전|개발 내역|
|------|---|
|초기|함수형 연산|
|1.0|스파크 SQL|
|이후|DataFrame, 머신러닝, 구조적 스트리밍|

### 1.4. 스파크의 현재와 미래

- 구조적 스트리밍 : 우버, 넷플릭스, NASA, CERN

### 1.5. 스파크 실행하기

- 스파크는 스칼라로 구현되어, 자바 가상 머신 기반으로 동작

#### 1.5.1. 로컬 환경에 스파크 내려받기

https://wiki.musinsa.com/pages/viewpage.action?pageId=43173002#Jupyternotebook%ED%99%98%EA%B2%BD-1.7.Pyspark

#### 1.5.2. 스파크 대화형 콘솔 실행하기

1. python spark
> ./$SPARK_HOME/bin/pyspark

![image.png](img/2.png)

2. scala spark
> ./$SPARK_HOME/bin/spark-shell

3. spark sql
> ./$SPARK_HOME/bin/spark-sql

#### 1.5.3. 클라우드에서 스파크 실행하기

https://databricks.com/try-databricks

#### 1.5.4. 이 책에서 사용하는 데이터

- Flight Data
- Retail Data
- Bike Data
- Sensor Data

> git clone https://github.com/FVBros/Spark-The-Definitive-Guide.git
>
> cd Spark-The-Definitive-Guide/data

## Chapter 2 스파크 간단히 살펴보기

### 2.1. 스파크의 기본 아키텍처

- 클러스터 매니저 : 사용자가 제출한 잡에 대한 자원 할당
- 스파크 : 할당받은 자원으로 데이터 처리 작업을 관리하고 조율

#### 2.1.1. 스파크 애플리케이션

![nn](img/1.jpeg)
- 드라이버 프로세스와 다수의 익스큐터 프로세스로 구성
- 드라이버
    - 클러스터 노드 중 하나에서 실행
    - main() 함수를 실행
    - 스파크 앱의 정보 유지 관리
    - 사용자 프로그램이나 입력에 대한 응답
        - 클라이언트 모드로 서버에 띄울수 있음
    - 전반적인 익스큐터 프로세스의 작업과 관련된 분석, 배포, 스케줄링 역할 수행
        - jar 파일이나 실행 코드 배포
    - 앱의 수명주기 동안 관련 정보를 유지
- 익스큐터
    - 드라이버 프로세스가 할당한 작업(코드) 수행
    - 진행 상황을 드라이버 노드에 보고
- 클러스터 매니저
    - 물리적 머신 관리
    - 스파크 앱에 자원을 할당
    - 종류 : 스탠드얼론, YARN, 메소스
    - 하나의 클러스터에 여러 개의 스파크 애플리케이션 실행 가능

### 2.2. 스파크의 다양한 언어 API


- 스파크는 모든 언어에 맞는 몇몇 '핵심 개념'을 제공
- 이러한 핵심 개념은 클러스터 머신에서 실행되는 스파크 코드로 변환하며, 구조적 API로 작성된 코드는 언어에 상관없이 유사한 성능을 발휘
    - API를 사용하면 내장된 최적화된 scala 코드로 변환(매핑)한다는 의미이며,그렇기 때문에 성능차이가 거의 없음
    - 다만 udf의 경우, 변환이 안되고 각 python 프로세스를 executor에 띄우기 때문에 느린걸로 보임
        - https://github.com/NAMYUNWOO/scalaUDFs_to_pyspark
- 지원 언어
    - 스칼라 : 스파크는 스칼라로 개발됨, 스파크의 기본 언어
    - SQL : ANSI SQL:2003 표준의 일부 지원
    - 자바, 파이썬, R
- 파이썬이나 R로 작성한 API 코드를 익스큐터 JVM에서 실행할 수 있는 코드로 변환
![nn](img/4.jpeg)

![nn](img/3.png)

### 2.3. 스파크 API

- 저수준 비구조적 API(RDD), 고수준 구조적 API(DataFrame) 지원

### 2.4. 스파크 시작하기

- 대화형 모드는 SparkSession을 자동 생성
- 애플리케이션 코드의 경우, 코드에서 SparkSession 생성 필요

In [60]:
# from pyspark.sql import SparkSession
# spark = SparkSession.builder.getOrCreate()

### 2.5. SparkSession

- 사용자가 정의한 처리 명령을 클러스터에서 실행
- 하나의 SparkSession은 하나의 스파크 애플리케이션에 대응
- 대화형 콘솔의 경우 spark 변수로 사용 가능
    - 애플리케이션 코드에서도 보통 SparkSession을 spark이라는 변수에 담아 사용

In [1]:
spark

In [69]:
# 클러스터 모드에서는 숫자 범위의 각 부분이 서로 다른 익스큐터에 할당
myRange = spark.range(1000).toDF("number")
myRange.show()

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
|    10|
|    11|
|    12|
|    13|
|    14|
|    15|
|    16|
|    17|
|    18|
|    19|
+------+
only showing top 20 rows

### 2.6. DataFrame

- 가장 대표적인 구조적 API
- 테이블 데이터를 로우와 컬럼으로 표현
- 컬럼과 컬럼 타입을 정의한 목록을 스키마
- Spark의 DataFrame, row 단위로 여러 컴퓨터에 분산
    - 스프레드시트, 파이썬과 R의 DataFrame은 단일 컴퓨터
- pandas와 pyspark 간 상호 변환이 쉬움

In [73]:
import pandas as pd

pdf = pd.DataFrame({ 
    'a': [1, 2, 3],
    'b': [10.0, 3.5, 7.315],
    'c': ['apple', 'banana', 'tomato']
})

df = spark.createDataFrame(pdf) 
df.show()
df.printSchema()
df.toPandas()

+---+-----+------+
|  a|    b|     c|
+---+-----+------+
|  1| 10.0| apple|
|  2|  3.5|banana|
|  3|7.315|tomato|
+---+-----+------+

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)

   a       b       c
0  1  10.000   apple
1  2   3.500  banana
2  3   7.315  tomato

In [74]:
# 컬럼명만 지정하면 스키마를 추론함
data = [("A", 1), ("B", 2)]
schema = ["Col", "Col2"] 

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+----+
|Col|Col2|
+---+----+
|  A|   1|
|  B|   2|
+---+----+

root
 |-- Col: string (nullable = true)
 |-- Col2: long (nullable = true)

In [75]:
from pyspark.sql.types import *
data = [("A", 1), ("B", 2)]
schema = StructType([
    StructField("Col",StringType()),
    StructField("Col2",IntegerType()),
])
df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+----+
|Col|Col2|
+---+----+
|  A|   1|
|  B|   2|
+---+----+

root
 |-- Col: string (nullable = true)
 |-- Col2: integer (nullable = true)

#### 2.6.1. 파티션

- 스파크는 모든 익스큐터가 병렬로 작업을 수행할 수 있도록 파티션이라 불리는 청크 단위로 데이터를 분할
- 클러스터의 물리적 머신에 존재하는 로우의 집합
- 만약 파티션이 1개라면 스파크에 수천 개의 익스큐터가 있더라도 병렬성은 1이 됨
- 수백개의 파티션이 있더라도 익스큐터가 하나밖에 없다면 병렬성은 1이 됨

### 2.7. 트랜스포메이션

- 액션전에 실행계획만 있는 상태
- 스파크의 데이터구조는 불변성(immutable)을 가짐
    - 장애복구를 위함
- 변경 방법을 트랜스포메이션으로 스파크에 알려야함

In [76]:
myRange = spark.range(1000).toDF("number")
myRange.where("number % 2 = 0").explain()

== Physical Plan ==
*(1) Project [id#1601L AS number#1603L]
+- *(1) Filter ((id#1601L % 2) = 0)
   +- *(1) Range (0, 1000, step=1, splits=12)

- 액션을 수행하기 전까지 위 코드를 실행해도 결과는 없음
- 트랜스포매이션은 좁은 의존성, 넒은 의존성으로 나뉨
- 좁은 의존성
    - 각 입력 파티션이 하나의 출력 파티션에만 영향을 미침
    - 파이프라이닝을 자동으로 수행
        - 모든 작업이 메모리에서 일어남
        - 결과를 중간저장하지 않고 바로 처리, map -> filter -> map
![nn](img/6.jpeg)

- 넓은 의존성
    - 하나의 입력 파티션이 여러 출력 파티션에 영향을 미침
    - 셔플이 일어남 
        - 셔플 : 스파크가 클러스터에서 파티션을 교환
        - 셔플의 결과를 디스크에 저장
            - I/O(네트워크 등)이 많이 발생하기 때문에 재 계산하지 않기 위해 저장하는게 아닐까 싶음
            - https://stackoverflow.com/questions/34580662/what-does-stage-skipped-mean-in-apache-spark-web-ui
![nn](img/5.jpeg)

In [77]:
# 동일한 키를 가진 데이터를 하나의 파티션으로 모음
# 유저별 구매원가의 합을 구한다면, 특정 유저의 모든 row는 특정 파티션에 모여야함
# groupbykey, reducebykey, sort, join, repartition
myRange.groupby("number").sum("number").explain()

== Physical Plan ==
*(2) HashAggregate(keys=[number#1603L], functions=[sum(number#1603L)])
+- Exchange hashpartitioning(number#1603L, 200)
   +- *(1) HashAggregate(keys=[number#1603L], functions=[partial_sum(number#1603L)])
      +- *(1) Project [id#1601L AS number#1603L]
         +- *(1) Range (0, 1000, step=1, splits=12)

#### 2.7.1.지연 연산

- 스파크가 연산 그래프를 처리하기 직전까지 기다리는 동작 방식
- 액션을 수행하기 전까지 실행 계획을 생성
- 트랜스포메이션을 간결한 물리적 실행 계획으로 컴파일
    - 이과정을 거치며, 전체 데이터 흐름을 최적화
- 조건절 푸시다운(predicate pushdown)
    - 복잡한 원시 데이터에서 특정 로우만 가져오는 필터를 가지고 있다면, 특정 레코드 하나만 읽으면 됨, 이를 데이터 소스에 위임

In [90]:
# spark._jsc.hadoopConfiguration().set("fs.s3a.access.key", os.environ["AWS_ACCESS_KEY_ID"])
# spark._jsc.hadoopConfiguration().set("fs.s3a.secret.key", os.environ["AWS_SECRET_ACCESS_KEY"])

In [78]:
# IO를 줄이는 방법들
# 1. PartitionFilters
path = "s3a://musinsa.data/data/mart/orders_daily_summary"
spark.read.parquet(path).where("ym=201505 or ym=201506").explain()

== Physical Plan ==
*(1) FileScan parquet [sale_notax_profit#1612L,sale_notax_amt#1613L,point_apply_amt#1614,ord_state_date#1615,qty_61#1616,dc_aff_apply_amt#1617,partner_dc_amt#1618,partner_recv_amt#1619L,ord_no_cnt#1620,ord_state#1621,dc_mem_apply_amt#1622,partner_fee#1623,ord_opt_no_cnt#1624,recv_amt#1625L,partner_sale_fee#1626L,sale_profit#1627L,amt_61#1628L,dc_etc_apply_amt#1629,amt_60#1630L,head_profit_rate#1631,pay_fee#1632,head_dc_amt#1633,partner_profit_rate#1634,partner_pay_fee#1635,... 27 more fields] Batched: true, Format: Parquet, Location: InMemoryFileIndex[s3a://musinsa.data/data/mart/orders_daily_summary], PartitionCount: 2, PartitionFilters: [((ym#1661 = 201505) || (ym#1661 = 201506))], PushedFilters: [], ReadSchema: struct<sale_notax_profit:bigint,sale_notax_amt:bigint,point_apply_amt:int,ord_state_date:string,q...

In [79]:
# 2. PushedFilters
path = "s3a://musinsa.data/data/mart/orders_daily_summary/ym=201505/"
spark.read.parquet(path).where("sale_notax_profit=34236772").explain()

== Physical Plan ==
*(1) Project [sale_notax_profit#1714L, sale_notax_amt#1715L, point_apply_amt#1716, ord_state_date#1717, qty_61#1718, dc_aff_apply_amt#1719, partner_dc_amt#1720, partner_recv_amt#1721L, ord_no_cnt#1722, ord_state#1723, dc_mem_apply_amt#1724, partner_fee#1725, ord_opt_no_cnt#1726, recv_amt#1727L, partner_sale_fee#1728L, sale_profit#1729L, amt_61#1730L, dc_etc_apply_amt#1731, amt_60#1732L, head_profit_rate#1733, pay_fee#1734, head_dc_amt#1735, partner_profit_rate#1736, partner_pay_fee#1737, ... 26 more fields]
+- *(1) Filter (isnotnull(sale_notax_profit#1714L) && (sale_notax_profit#1714L = 34236772))
   +- *(1) FileScan parquet [sale_notax_profit#1714L,sale_notax_amt#1715L,point_apply_amt#1716,ord_state_date#1717,qty_61#1718,dc_aff_apply_amt#1719,partner_dc_amt#1720,partner_recv_amt#1721L,ord_no_cnt#1722,ord_state#1723,dc_mem_apply_amt#1724,partner_fee#1725,ord_opt_no_cnt#1726,recv_amt#1727L,partner_sale_fee#1728L,sale_profit#1729L,amt_61#1730L,dc_etc_apply_amt#1731,amt_60#1732L,head_profit_rate#1733,pay_fee#1734,head_dc_amt#1735,partner_profit_rate#1736,partner_pay_fee#1737,... 26 more fields] Batched: true, Format: Parquet, Location: InMemoryFileIndex[s3a://musinsa.data/data/mart/orders_daily_summary/ym=201505], PartitionCount: 1, PartitionFilters: [], PushedFilters: [IsNotNull(sale_notax_profit), EqualTo(sale_notax_profit,34236772)], ReadSchema: struct<sale_notax_profit:bigint,sale_notax_amt:bigint,point_apply_amt:int,ord_state_date:string,q...

In [80]:
# 3. Column Projection
# http://www.openkb.info/2021/02/spark-tuning-column-projection-for.html
# parquet의 경우 columnar format이기 때문에, 전체 컬럼이 아닌 특정 컬럼만 가져와 io를 최소화
path = "s3a://musinsa.data/data/mart/orders_daily_summary/ym=201505/"
spark.read.parquet(path).select("sale_notax_profit").explain()

== Physical Plan ==
*(1) Project [sale_notax_profit#1814L]
+- *(1) FileScan parquet [sale_notax_profit#1814L,dt#1863] Batched: true, Format: Parquet, Location: InMemoryFileIndex[s3a://musinsa.data/data/mart/orders_daily_summary/ym=201505], PartitionCount: 1, PartitionFilters: [], PushedFilters: [], ReadSchema: struct<sale_notax_profit:bigint>

### 2.8. 액션

- 트랜스포메이션을 사용해 실행 계획을 세울 수 있음
- 액션 명령으로 실제 연산을 수행
- 종류
    - 콘솔에서 데이터를 보는 액션 : show
    - 각 언어로 된 네이티브 객체에 데이터를 모으는 액션 : collect, take, top, count 등
    - 출력 데이터소스에 저장하는 액션 : write

In [81]:
myRange.count()

1000

### 2.9. 스파크 UI

- 드라이버 노드의 4040포트로 접근 가능
    - 로컬 : http://localhost:4040
    - EMR : 히스토리 서버 통해서 접근
- 스파크 잡의 상태, 환경 설정, 클러스터 상태 등의 정보를 확인

### 2.10. 종합 예제

- 스파크는 스키마를 얻기 위해 데이터를 조금 읽고, 스파크 데이터 타입에 맞게 분석
- 운영 환경에서는 데이터를 읽는 시점에 스키마를 엄격하게 지정하는 것을 권장
    - spi에서 스키마가 엄격하게 필요한케이스의 경우 지정 가능하도록 수정필요

In [82]:
path = "Spark-The-Definitive-Guide/data/flight-data/csv/2015-summary.csv"
flightData2015 = (
    spark
    .read
    .option("inferSchema", "true")
    .option("header", "true")
    .csv(path)
)
flightData2015.explain()

== Physical Plan ==
*(1) FileScan csv [DEST_COUNTRY_NAME#1931,ORIGIN_COUNTRY_NAME#1932,count#1933] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/Users/namjals/test/spark/Spark-The-Definitive-Guide/data/flight-data/csv/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

- 실행 계획은 아래에서 위로 읽음

In [83]:
# 셔플시 파티셔닝 디폴트값은 200
# sort는 넓은 트랜스포메이션
# 큰데이터는 적당히 큰 값이 좋은거 같음
spark.conf.set("spark.sql.shuffle.partitions", "5")
flightData2015.sort("count").explain()

== Physical Plan ==
*(2) Sort [count#1933 ASC NULLS FIRST], true, 0
+- Exchange rangepartitioning(count#1933 ASC NULLS FIRST, 5)
   +- *(1) FileScan csv [DEST_COUNTRY_NAME#1931,ORIGIN_COUNTRY_NAME#1932,count#1933] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/Users/namjals/test/spark/Spark-The-Definitive-Guide/data/flight-data/csv/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,ORIGIN_COUNTRY_NAME:string,count:int>

In [84]:
# 액션
flightData2015.sort("count").count()

256

![nn](img/7.jpeg)

#### 2.10.1. DataFrame과 SQL

- DataFrame을 가상 테이블로 등록하여 SQL 활용 가능
- 스파크는 SQL 쿼리를 DataFrame 코드와 같은 실행 계획으로 컴파일 하므로 둘 사이의 성능 차이는 없음

In [85]:
# DataFrame을 테이블로 등록
flightData2015.createOrReplaceTempView("flight_data_2015")

In [86]:
query = """
SELECT DEST_COUNTRY_NAME, count(1)
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
"""
sqlWay = spark.sql(query)
sqlWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#1931], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#1931, 5)
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#1931], functions=[partial_count(1)])
      +- *(1) FileScan csv [DEST_COUNTRY_NAME#1931] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/Users/namjals/test/spark/Spark-The-Definitive-Guide/data/flight-data/csv/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

In [87]:
dataFrameWay = flightData2015.groupBy("DEST_COUNTRY_NAME").count()
dataFrameWay.explain()

== Physical Plan ==
*(2) HashAggregate(keys=[DEST_COUNTRY_NAME#1931], functions=[count(1)])
+- Exchange hashpartitioning(DEST_COUNTRY_NAME#1931, 5)
   +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#1931], functions=[partial_count(1)])
      +- *(1) FileScan csv [DEST_COUNTRY_NAME#1931] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/Users/namjals/test/spark/Spark-The-Definitive-Guide/data/flight-data/csv/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string>

- 스파크는 수백개의 함수를 제공
- 다음은 특정 위치를 왕래하는 최대 비행 횟수를 구하기 위해 max 함수 사용

In [88]:
from pyspark.sql.functions import max
flightData2015.select(max("count")).take(1)

[Row(max(count)=370002)]

- 다음은 상위 5개 도착 국가를 찾아내는 코드

In [75]:
# sql
query = """
SELECT DEST_COUNTRY_NAME, sum(count) as destination_total
FROM flight_data_2015
GROUP BY DEST_COUNTRY_NAME
ORDER BY sum(count) DESC
LIMIT 5
"""
maxSql = spark.sql(query)
maxSql.show()

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [89]:
# dataframe
from pyspark.sql.functions import desc
(
    flightData2015
    .groupBy("DEST_COUNTRY_NAME")
    .sum("count")
    .withColumnRenamed("sum(count)", "destination_total")
    .sort(desc("destination_total"))
    .limit(5)
    .show()
)

+-----------------+-----------------+
|DEST_COUNTRY_NAME|destination_total|
+-----------------+-----------------+
|    United States|           411352|
|           Canada|             8399|
|           Mexico|             7140|
|   United Kingdom|             2025|
|            Japan|             1548|
+-----------------+-----------------+

In [89]:
# explain
# stage, sql 확인
from pyspark.sql.functions import desc
(
    flightData2015
    .groupBy("DEST_COUNTRY_NAME")
    .sum("count")
    .withColumnRenamed("sum(count)", "destination_total")
    .sort(desc("destination_total"))
    .limit(5)
    .explain()
)

== Physical Plan ==
TakeOrderedAndProject(limit=5, orderBy=[destination_total#1974L DESC NULLS LAST], output=[DEST_COUNTRY_NAME#1931,destination_total#1974L])
+- *(2) HashAggregate(keys=[DEST_COUNTRY_NAME#1931], functions=[sum(cast(count#1933 as bigint))])
   +- Exchange hashpartitioning(DEST_COUNTRY_NAME#1931, 5)
      +- *(1) HashAggregate(keys=[DEST_COUNTRY_NAME#1931], functions=[partial_sum(cast(count#1933 as bigint))])
         +- *(1) FileScan csv [DEST_COUNTRY_NAME#1931,count#1933] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/Users/namjals/test/spark/Spark-The-Definitive-Guide/data/flight-data/csv/..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<DEST_COUNTRY_NAME:string,count:int>

- 가환성 ( 연산의 순서가 바뀌어도 상관없음 더하기나 곱하기)이 있어 각 파티션의 부분합(partial_sum)을 구하고
- 셔플(groupbykey)이 발생하고
- 합(sum)을 구하고
- 셔플(sort)이 발생하고
- 상위 5개 출력

![nn](img/9.png)

## Chapter 3 스파크 기능 둘러보기

![nn](img/8.jpeg)

### 3.1. 운영용 애플리케이션 실행하기

- 개발한 프로그램을 spark-submit 명령을 사용해 실행할 수 있음
    - emr에 수행하는 방식
    ![nn](img/10.png)

- deploy-mode : client, cluster
- master(클러스터 매니저) : 스탠드얼론, 메소스, YARN
- deploy-mode, master별 구조
    - https://wooono.tistory.com/140

### 3.2. Dataset: 타입 안정성을 제공하는 구조적 API

- 타입 안정성 지원
- 동적 타입 언어인 파이썬과 R에서 사용 할 수 없음
- 다수의 소프트웨어 엔지니어가 잘 정의된 인터페이스로 상호작용하는 대규모 애플리케이션을 개발하는데 특히 유용

### 3.3. 구조적 스트리밍

- 스트림 처리용 고수준 API
- 구조적 API로 개발된 배치 모드 연산을 스트리밍 방식으로 실행 가능
    - 지연 시간을 줄이고 증분 처리 가능
- 구조적 API로 프로토타입을 만들고 스트리밍 방식으로 손쉽게 전환 가능

In [1]:
# 배치 처리용 코드
path = "Spark-The-Definitive-Guide/data/retail-data/by-day/*.csv"
staticDataFrame = (
    spark
    .read.format("csv")
    .option("header", "true")
    .option("inferSchema", "true")
    .load(path)
)
staticDataFrame.createOrReplaceTempView("retail_data")
staticSchema = staticDataFrame.schema

In [48]:
# kinesis 데이터의 hit_time컬럼의 window(process_window or process_groupby)에 따라 sink 시 date로 파티션닝 하면 될 듯
from pyspark.sql.functions import window, col, desc
(
    staticDataFrame
    .selectExpr(
        "CustomerId",
        "(UnitPrice * Quantity) as total_cost",
        "InvoiceDate")
    .groupBy(
        col("CustomerId"), window(col("InvoiceDate"), "1 day"))
    .sum("total_cost")
    .sort(desc("CustomerId"))
    .show(20)
)

+----------+--------------------+------------------+
|CustomerId|              window|   sum(total_cost)|
+----------+--------------------+------------------+
|   18287.0|[2011-10-28 09:00...| 70.67999999999999|
|   18287.0|[2011-10-12 09:00...|1001.3199999999999|
|   18287.0|[2011-05-22 09:00...|            765.28|
|   18283.0|[2011-06-14 09:00...|103.71999999999998|
|   18283.0|[2011-01-06 09:00...|108.44999999999997|
|   18283.0|[2011-04-21 09:00...|117.67999999999994|
|   18283.0|[2011-06-23 09:00...| 203.8100000000001|
|   18283.0|[2011-09-05 09:00...|134.89999999999998|
|   18283.0|[2011-07-14 09:00...|143.19000000000008|
|   18283.0|[2011-10-27 09:00...|            114.65|
|   18283.0|[2011-12-06 09:00...|208.00000000000009|
|   18283.0|[2011-05-23 09:00...|             99.47|
|   18283.0|[2011-02-28 09:00...|102.89999999999999|
|   18283.0|[2011-01-23 09:00...|106.55000000000001|
|   18283.0|[2011-11-23 09:00...| 313.6499999999997|
|   18283.0|[2011-11-10 09:00...|114.30000000000003|
|   18283.0|[2011-11-30 09:00...|223.61000000000016|
|   18282.0|[2011-08-09 09:00...|             -1.45|
|   18282.0|[2011-08-05 09:00...|            100.21|
|   18282.0|[2011-12-02 09:00...|             77.84|
+----------+--------------------+------------------+
only showing top 20 rows

In [122]:
# 구조적 스트리밍 코드
path = "Spark-The-Definitive-Guide/data/retail-data/by-day/*.csv"
streamingDataFrame = (
    spark
    .readStream.format("csv")
    .schema(staticSchema)
    .option("maxFilesPerTrigger", 1)
    .option("header", "true")
    .load(path)
)

In [124]:
streamingDataFrame.isStreaming

True

In [123]:
# 구조적 API로 개발된 연산을 그대로 사용
purchaseByCustomerPerHour = (
    streamingDataFrame
    .selectExpr(
        "CustomerId",
        "(UnitPrice * Quantity) as total_cost",
        "InvoiceDate")
    .groupBy(
        col("CustomerId"), window(col("InvoiceDate"), "1 day"))
    .sum("total_cost")
)

In [126]:
# 디버깅 용이하도록 memory에 write하여, customer_purchases의 이름으로 가상테이블 생성
(
    purchaseByCustomerPerHour.writeStream
    .format("memory")
    .queryName("customer_purchases")
    .outputMode("complete")
    .start()
)

In [127]:
# 최초
query = """
SELECT * 
FROM customer_purchases
ORDER BY `sum(total_cost)` DESC
"""
spark.sql(query).show(5)

+----------+--------------------+------------------+
|CustomerId|              window|   sum(total_cost)|
+----------+--------------------+------------------+
|   12415.0|[2011-03-03 09:00...|          16558.14|
|   15769.0|[2011-03-17 09:00...|           10065.0|
|      null|[2011-03-17 09:00...| 7876.000000000018|
|   12435.0|[2011-03-16 09:00...|3978.9899999999993|
|      null|[2011-03-03 09:00...| 3538.750000000001|
+----------+--------------------+------------------+
only showing top 5 rows

In [130]:
# 시간이 지난 후 결과
query = """
SELECT * 
FROM customer_purchases
ORDER BY `sum(total_cost)` DESC
"""
spark.sql(query).show(5)

+----------+--------------------+------------------+
|CustomerId|              window|   sum(total_cost)|
+----------+--------------------+------------------+
|   17450.0|[2011-09-20 09:00...|          71601.44|
|      null|[2011-11-14 09:00...|          55316.08|
|      null|[2011-11-07 09:00...|          42939.17|
|      null|[2011-03-29 09:00...| 33521.39999999998|
|      null|[2011-12-08 09:00...|31975.590000000007|
+----------+--------------------+------------------+
only showing top 5 rows

In [131]:
# console 출력, 아마 터미널에서 동작할 것
(
    purchaseByCustomerPerHour.writeStream
    .format("console")
    .queryName("customer_purchases2")
    .outputMode("complete")
    .start()
)

### 3.4. 머신러닝과 고급 분석

- 내장된 머신러닝 알고리즘 라이브러리 MLlib
- 대용량 데이터를 대상으로 전처리, 멍잉, 모델 학습, 예측 가능
- 구조적 스트리밍 데이터로 MLlib에서 학습시킨 모델에 적용하여 예측 가능
- 분류, 회귀, 군집화, 딥러닝 API 제공
- k-평균 알고리즘을 이용한 군집화 예제

In [3]:
staticDataFrame.printSchema()

root
 |-- InvoiceNo: string (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: double (nullable = true)
 |-- CustomerID: double (nullable = true)
 |-- Country: string (nullable = true)

In [54]:
from pyspark.sql.functions import date_format, col

preppedDataFrame = (
    staticDataFrame
    .na.fill(0)
    .withColumn("day_of_week", date_format(col("InvoiceDate"), "EEEE"))
    .coalesce(5)
)
staticDataFrame.show()
preppedDataFrame.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   580538|    23084|  RABBIT NIGHT LIGHT|      48|2011-12-05 08:38:00|     1.79|   14075.0|United Kingdom|
|   580538|    23077| DOUGHNUT LIP GLOSS |      20|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|
|   580538|    22906|12 MESSAGE CARDS ...|      24|2011-12-05 08:38:00|     1.65|   14075.0|United Kingdom|
|   580538|    21914|BLUE HARMONICA IN...|      24|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|
|   580538|    22467|   GUMBALL COAT RACK|       6|2011-12-05 08:38:00|     2.55|   14075.0|United Kingdom|
|   580538|    21544|SKULLS  WATER TRA...|      48|2011-12-05 08:38:00|     0.85|   14075.0|United Kingdom|
|   580538|    23126|FELTCRAFT GIRL AM...|       8|2011-12-05 08:38:00|     4.95|   14075.0|United Kingdom|
|   580538|    21833|CAMOUFLAGE LED TORCH|      24|2011-12-05 08:38:00|     1.69|   14075.0|United Kingdom|
|   580539|    21479|WHITE SKULL HOT W...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|
|   580539|   84030E|ENGLISH ROSE HOT ...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|
|   580539|    23355|HOT WATER BOTTLE ...|       4|2011-12-05 08:39:00|     4.95|   18180.0|United Kingdom|
|   580539|    22111|SCOTTIE DOG HOT W...|       3|2011-12-05 08:39:00|     4.95|   18180.0|United Kingdom|
|   580539|    21115|ROSE CARAVAN DOOR...|       8|2011-12-05 08:39:00|     1.95|   18180.0|United Kingdom|
|   580539|    21411|GINGHAM HEART  DO...|       8|2011-12-05 08:39:00|     1.95|   18180.0|United Kingdom|
|   580539|    23235|STORAGE TIN VINTA...|      12|2011-12-05 08:39:00|     1.25|   18180.0|United Kingdom|
|   580539|    23239|SET OF 4 KNICK KN...|       6|2011-12-05 08:39:00|     1.65|   18180.0|United Kingdom|
|   580539|    22197|      POPCORN HOLDER|      36|2011-12-05 08:39:00|     0.85|   18180.0|United Kingdom|
|   580539|    22693|GROW A FLYTRAP OR...|      24|2011-12-05 08:39:00|     1.25|   18180.0|United Kingdom|
|   580539|    22372|AIRLINE BAG VINTA...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|
|   580539|    22375|AIRLINE BAG VINTA...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|day_of_week|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|   580538|    23084|  RABBIT NIGHT LIGHT|      48|2011-12-05 08:38:00|     1.79|   14075.0|United Kingdom|     Monday|
|   580538|    23077| DOUGHNUT LIP GLOSS |      20|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|     Monday|
|   580538|    22906|12 MESSAGE CARDS ...|      24|2011-12-05 08:38:00|     1.65|   14075.0|United Kingdom|     Monday|
|   580538|    21914|BLUE HARMONICA IN...|      24|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|     Monday|
|   580538|    22467|   GUMBALL COAT RACK|       6|2011-12-05 08:38:00|     2.55|   14075.0|United Kingdom|     Monday|
|   580538|    21544|SKULLS  WATER TRA...|      48|2011-12-05 08:38:00|     0.85|   14075.0|United Kingdom|     Monday|
|   580538|    23126|FELTCRAFT GIRL AM...|       8|2011-12-05 08:38:00|     4.95|   14075.0|United Kingdom|     Monday|
|   580538|    21833|CAMOUFLAGE LED TORCH|      24|2011-12-05 08:38:00|     1.69|   14075.0|United Kingdom|     Monday|
|   580539|    21479|WHITE SKULL HOT W...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|
|   580539|   84030E|ENGLISH ROSE HOT ...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|
|   580539|    23355|HOT WATER BOTTLE ...|       4|2011-12-05 08:39:00|     4.95|   18180.0|United Kingdom|     Monday|
|   580539|    22111|SCOTTIE DOG HOT W...|       3|2011-12-05 08:39:00|     4.95|   18180.0|United Kingdom|     Monday|
|   580539|    21115|ROSE CARAVAN DOOR...|       8|2011-12-05 08:39:00|     1.95|   18180.0|United Kingdom|     Monday|
|   580539|    21411|GINGHAM HEART  DO...|       8|2011-12-05 08:39:00|     1.95|   18180.0|United Kingdom|     Monday|
|   580539|    23235|STORAGE TIN VINTA...|      12|2011-12-05 08:39:00|     1.25|   18180.0|United Kingdom|     Monday|
|   580539|    23239|SET OF 4 KNICK KN...|       6|2011-12-05 08:39:00|     1.65|   18180.0|United Kingdom|     Monday|
|   580539|    22197|      POPCORN HOLDER|      36|2011-12-05 08:39:00|     0.85|   18180.0|United Kingdom|     Monday|
|   580539|    22693|GROW A FLYTRAP OR...|      24|2011-12-05 08:39:00|     1.25|   18180.0|United Kingdom|     Monday|
|   580539|    22372|AIRLINE BAG VINTA...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|
|   580539|    22375|AIRLINE BAG VINTA...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
only showing top 20 rows

In [7]:
# 학습 및 테스트 데이터 분리, 대략 절반으로 나눔
trainDataFrame = (
    preppedDataFrame
    .where("InvoiceDate < '2011-07-01'")
)
testDataFrame = (
    preppedDataFrame
    .where("InvoiceDate >= '2011-07-01'")
)
print(trainDataFrame.count())
print(testDataFrame.count())

245903
296006

In [10]:
# 각 요일을 숫자로 매핑
# 토요일은 6, 월요일은 1, 수치로 표현되어 토요일이 월요일보다 크다는 암묵적 의미, 이를 보완하기 위해 OneHotEncoder로 인코딩
from pyspark.ml.feature import StringIndexer

indexer = (
    StringIndexer()
    .setInputCol("day_of_week")
    .setOutputCol("day_of_week_index")
)

In [19]:
# OneHotEncoder로 인코딩하여 벡터 컬럼 생성
from pyspark.ml.feature import OneHotEncoder

encoder = (
    OneHotEncoder()
    .setInputCol("day_of_week_index")
    .setOutputCol("day_of_week_encoded")
)

In [36]:
# UnitPrice, Quantity, day_of_week_encoded를 피처로 만듬
from pyspark.ml.feature import VectorAssembler
vectorAssembler = (
    VectorAssembler()
    .setInputCols(["UnitPrice", "Quantity", "day_of_week_encoded"])
    .setOutputCol("features")
)

In [37]:
# 다음 입력 데이터가 같은 프로세스를 거치도록 파이프라인 설정
from pyspark.ml import Pipeline

transformationPipeline = (
    Pipeline()
    .setStages([indexer, encoder, vectorAssembler])
)

In [38]:
# 파이프라인을 통과하여 변환
fittedPipeline = transformationPipeline.fit(trainDataFrame)

In [39]:
transformedTraining = fittedPipeline.transform(trainDataFrame)

In [40]:
# 반복적으로 결과 데이터셋에 접근하기 위해 캐싱
transformedTraining.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: double, CustomerID: double, Country: string, day_of_week: string, day_of_week_index: double, day_of_week_encoded: vector, features: vector]

In [55]:
from pyspark.ml.clustering import KMeans

kmeans = (
    KMeans()
    .setK(20)
    .setSeed(1)
)

In [56]:
kmModel = kmeans.fit(transformedTraining)

In [57]:
transformedTest = fittedPipeline.transform(testDataFrame)
kmModel.computeCost(transformedTest)

547591342.4568446

In [58]:
transformedTest.show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+-----------------+-------------------+--------------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|day_of_week|day_of_week_index|day_of_week_encoded|            features|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+-----------------+-------------------+--------------------+
|   580538|    23084|  RABBIT NIGHT LIGHT|      48|2011-12-05 08:38:00|     1.79|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.79,...|
|   580538|    23077| DOUGHNUT LIP GLOSS |      20|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.25,...|
|   580538|    22906|12 MESSAGE CARDS ...|      24|2011-12-05 08:38:00|     1.65|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.65,...|
|   580538|    21914|BLUE HARMONICA IN...|      24|2011-12-05 08:38:00|     1.25|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.25,...|
|   580538|    22467|   GUMBALL COAT RACK|       6|2011-12-05 08:38:00|     2.55|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[2.55,...|
|   580538|    21544|SKULLS  WATER TRA...|      48|2011-12-05 08:38:00|     0.85|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[0.85,...|
|   580538|    23126|FELTCRAFT GIRL AM...|       8|2011-12-05 08:38:00|     4.95|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[4.95,...|
|   580538|    21833|CAMOUFLAGE LED TORCH|      24|2011-12-05 08:38:00|     1.69|   14075.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.69,...|
|   580539|    21479|WHITE SKULL HOT W...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[4.25,...|
|   580539|   84030E|ENGLISH ROSE HOT ...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[4.25,...|
|   580539|    23355|HOT WATER BOTTLE ...|       4|2011-12-05 08:39:00|     4.95|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[4.95,...|
|   580539|    22111|SCOTTIE DOG HOT W...|       3|2011-12-05 08:39:00|     4.95|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[4.95,...|
|   580539|    21115|ROSE CARAVAN DOOR...|       8|2011-12-05 08:39:00|     1.95|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.95,...|
|   580539|    21411|GINGHAM HEART  DO...|       8|2011-12-05 08:39:00|     1.95|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.95,...|
|   580539|    23235|STORAGE TIN VINTA...|      12|2011-12-05 08:39:00|     1.25|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.25,...|
|   580539|    23239|SET OF 4 KNICK KN...|       6|2011-12-05 08:39:00|     1.65|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.65,...|
|   580539|    22197|      POPCORN HOLDER|      36|2011-12-05 08:39:00|     0.85|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[0.85,...|
|   580539|    22693|GROW A FLYTRAP OR...|      24|2011-12-05 08:39:00|     1.25|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[1.25,...|
|   580539|    22372|AIRLINE BAG VINTA...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[4.25,...|
|   580539|    22375|AIRLINE BAG VINTA...|       4|2011-12-05 08:39:00|     4.25|   18180.0|United Kingdom|     Monday|              2.0|      (5,[2],[1.0])|(7,[0,1,4],[4.25,...|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+-----------------+-------------------+--------------------+
only showing top 20 rows

### 3.5. 저수준 API

- 자바와 파이썬 객체를 다루는 데 필요한 다양한 기본 기능(저수준 API) 제공
- 스파크의 거의 모든 기능은 RDD를 기반으로 만들어짐
- DataFrame도 RDD를 기반으로 만들어졌고, 저수준 명령으로 컴파일됨
- 원시데이터를 읽거나 다루는 용도로 RDD를 사용할 수 있지만 대부분 구조적 API를 사용하는 것이 좋음
- RDD를 이용해 파티션과 같은 물리적 실행 특성을 결정할 수 있으므로 DataFrame 보다 더 세밀한 제어가 가능
- 최신 버전의 스파크에서는 기본적으로 RDD를 사용하지 않지만, 비정형 데이터나 정제되지 않은 원시 데이터를 처리해야 한다면 RDD를 사용해야 함

In [47]:
from pyspark.sql import Row
spark.sparkContext.parallelize([Row(1), Row(2), Row(3)]).toDF().show()

+---+
| _1|
+---+
|  1|
|  2|
|  3|
+---+

### 3.6. SparkR

### 3.7. 스파크의 에코시스템과 패키지

- https://spark-packages.org/
- 현재 500여개의 패키지 존재
![nn](img/11.png)